.header__wrapper{
    display: flex;
}
.header__logo{
    display: flex;
    flex-direction: column;
    align-items: center
   
}
.header__logo img{
   margin: auto;
}
.header__menu{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header__menu-list{
    display: flex;
    align-items: baseline;
}
.header__menu-item{
    margin: 1rem;
    font-size: 1.6rem;
}
.header__menu-item:last-child a,
.btn-header
{
    padding: 1rem 3rem;
    border-radius: 2.5rem;
    
}
.header__content{
    background-image: url("https://toianh99.github.io/cat_web/img/bg_header.png");
    background-size: cover;
    height: 83.5rem;
}
.header__content-left{
    padding-left: 7rem;
    margin-top: 28rem;
}
.header__content-note{
    font-size: 1.5rem;
    align-items: baseline;
    margin-right: auto;
    padding-right: 5rem;
    border-radius: 5rem;
    background-color: #e2eaed;
    width: 60%;
}
.header__content-note{
    display: flex;
}
.header__content-note i{
    
   font-size: 2rem;
   height: 4rem;
   width: 4rem;
   border-radius: 50%;
   background-color: coral;
   text-align: center;
   line-height: 4rem;
   margin-right: 1rem;
}
.header__content-main p{
   font-size: 4rem; 
}
.header__content-desc{
    font-size: 2rem;
}
.header__content-bottom{
    display: flex;
}
.bg-blue{
    background-color: #2500f9;
}
.bg-none{
    background-color: transparent;
}
.txt-white{
    color: white;
}
.company--title p{
    text-align: center;
    margin-top: 10rem;
    font-size: 1.6rem;
}
.company__logo{
    margin: 5rem 10rem;
    display: flex;
}
.company__logo--detail{
    width: 20%;
    display: flex;
    justify-content: center;
}
.page1__content--title{
    font-size: 3.6rem;
    width: 30%;
}
.page1{
    display: flex;
    width: 100%;
    padding-top: 5rem;
    background-image: url("https://toianh99.github.io/cat_web/img/bg_page1.png");
    background-size: cover ;
    padding-bottom: 5rem;
}
.page1__content{
    margin-left: auto;
    width: 50%;
}
.page1__content--desc{
    width: 50%;
    margin-bottom: 5rem;
}
.page1__content--feature{
    padding-top: 10rem;
    display: flex;
}
.page1__content--icon i{
    font-size: 5rem;
    color: #f55767;
}
.page1__content--icon{
    padding: 1rem;
    border-radius: 50%;
    background-color: #ffecef;
}
.page1__content--feature--detail{
    padding:0rem 3rem;
    width: 40%;
}